<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <meta charset="UTF-8">
    <title>Node Grapher</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel='icon' href='images/favicon.png' type='image/x-icon'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="navbar">
      <div id="site-name">Node Grapher</div>
      <a href="/" class="nav-button cell2">Home</a>
      <div class="nav-vertline cell3"></div>
      <a href="/about" class="nav-button cell4 nav-active">About</a>
      <div class="nav-vertline cell5"></div>
      <a href="/contact" class="nav-button cell6">Contact</a>
      <div id="hamburger" onclick="expand(this)"><i class="fas fa-bars"></i></div>
    </div>

    <div id="node-graph">
      <div class="node noselect"   style="transform: translate3d(381px, 277px, 0px);">
                <div class="connection-point connection-point-node"></div>
                <div class="title">
                    <h4 class="title-text cell1">Chores</h4>
                    <div class="cell2 node-delete" ><i class="fas fa-trash"></i></div>
                </div>
                <div class="item-list"><div class="item">
                    <div class="connection-point connection-point-item cell1"></div>
                    <div class="item-text cell2">Laundry</div>
                    <div class="item-text cell3 item-delete" ><i class="fas fa-trash"></i></div>
                    <div class="connection-point connection-point-item cell4"></div>
                </div></div>
                <div class="add-item-dialogue invisible">
                    <input class="add-item-input" type="text" placeholder="Enter item..." required="">
                    <div>      
                    <button name="add-item-btn" onclick="createItem(this)">Add Item</button>
                    <button onclick="hideItemDialogue(this)">X</button>
                    </div>
                </div>
                <div class="new-item noselect" >
                    <div class="add-item cell1">+</div>
                    <div class="item-text cell2">Add New Item</div>
                </div>
                <div class="connection-point connection-point-node"></div>
            </div><div class="node noselect"   style="transform: translate3d(326px, 606px, 0px);">
                <div class="connection-point connection-point-node"></div>
                <div class="title">
                    <h4 class="title-text cell1">Fun</h4>
                    <div class="cell2 node-delete" ><i class="fas fa-trash"></i></div>
                </div>
                <div class="item-list"><div class="item">
                    <div class="connection-point connection-point-item cell1"></div>
                    <div class="item-text cell2">Play Video Games</div>
                    <div class="item-text cell3 item-delete" ><i class="fas fa-trash"></i></div>
                    <div class="connection-point connection-point-item cell4"></div>
                </div></div>
                <div class="add-item-dialogue invisible">
                    <input class="add-item-input" type="text" placeholder="Enter item..." required="">
                    <div>      
                    <button name="add-item-btn" onclick="createItem(this)">Add Item</button>
                    <button onclick="hideItemDialogue(this)">X</button>
                    </div>
                </div>
                <div class="new-item noselect" >
                    <div class="add-item cell1">+</div>
                    <div class="item-text cell2">Add New Item</div>
                </div>
                <div class="connection-point connection-point-node"></div>
            </div><div class="node noselect"   style="transform: translate3d(1329px, 327px, 0px);">
                <div class="connection-point connection-point-node"></div>
                <div class="title">
                    <h4 class="title-text cell1">Free Form Editor</h4>
                    <div class="cell2 node-delete" ><i class="fas fa-trash"></i></div>
                </div>
                <div class="item-list"><div class="item">
                    <div class="connection-point connection-point-item cell1"></div>
                    <div class="item-text cell2">Draw Logical Connections</div>
                    <div class="item-text cell3 item-delete" ><i class="fas fa-trash"></i></div>
                    <div class="connection-point connection-point-item cell4"></div>
                </div><div class="item">
                    <div class="connection-point connection-point-item cell1"></div>
                    <div class="item-text cell2">Visualize Complex Data</div>
                    <div class="item-text cell3 item-delete" ><i class="fas fa-trash"></i></div>
                    <div class="connection-point connection-point-item cell4"></div>
                </div><div class="item">
                    <div class="connection-point connection-point-item cell1"></div>
                    <div class="item-text cell2">Useful For Programming, Productivity, And Organization</div>
                    <div class="item-text cell3 item-delete" ><i class="fas fa-trash"></i></div>
                    <div class="connection-point connection-point-item cell4"></div>
                </div></div>
                <div class="add-item-dialogue invisible">
                    <input class="add-item-input" type="text" placeholder="Enter item..." required="">
                    <div>      
                    <button name="add-item-btn" onclick="createItem(this)">Add Item</button>
                    <button onclick="hideItemDialogue(this)">X</button>
                    </div>
                </div>
                <div class="new-item noselect" >
                    <div class="add-item cell1">+</div>
                    <div class="item-text cell2">Add New Item</div>
                </div>
                <div class="connection-point connection-point-node"></div>
            </div><div class="node noselect"   style="transform: translate3d(712px, 461px, 0px);">
                <div class="connection-point connection-point-node"></div>
                <div class="title">
                    <h4 class="title-text cell1">Laundry</h4>
                    <div class="cell2 node-delete" ><i class="fas fa-trash"></i></div>
                </div>
                <div class="item-list"><div class="item">
                    <div class="connection-point connection-point-item cell1"></div>
                    <div class="item-text cell2">Wash</div>
                    <div class="item-text cell3 item-delete" ><i class="fas fa-trash"></i></div>
                    <div class="connection-point connection-point-item cell4"></div>
                </div><div class="item">
                    <div class="connection-point connection-point-item cell1"></div>
                    <div class="item-text cell2">Dry</div>
                    <div class="item-text cell3 item-delete" ><i class="fas fa-trash"></i></div>
                    <div class="connection-point connection-point-item cell4"></div>
                </div><div class="item">
                    <div class="connection-point connection-point-item cell1"></div>
                    <div class="item-text cell2">Fold</div>
                    <div class="item-text cell3 item-delete" ><i class="fas fa-trash"></i></div>
                    <div class="connection-point connection-point-item cell4"></div>
                </div></div>
                <div class="add-item-dialogue invisible">
                    <input class="add-item-input" type="text" placeholder="Enter item..." required="">
                    <div>      
                    <button name="add-item-btn" onclick="createItem(this)">Add Item</button>
                    <button onclick="hideItemDialogue(this)">X</button>
                    </div>
                </div>
                <div class="new-item noselect" >
                    <div class="add-item cell1">+</div>
                    <div class="item-text cell2">Add New Item</div>
                </div>
                <div class="connection-point connection-point-node"></div>
            </div><div class="node noselect"   style="transform: translate3d(81px, 78px, 0px);">
                <div class="connection-point connection-point-node"></div>
                <div class="title">
                    <h4 class="title-text cell1">About</h4>
                    <div class="cell2 node-delete" ><i class="fas fa-trash"></i></div>
                </div>
                <div class="item-list"><div class="item">
                    <div class="connection-point connection-point-item cell1"></div>
                    <div class="item-text cell2">Node Graph</div>
                    <div class="item-text cell3 item-delete" ><i class="fas fa-trash"></i></div>
                    <div class="connection-point connection-point-item cell4"></div>
                </div><div class="item">
                    <div class="connection-point connection-point-item cell1"></div>
                    <div class="item-text cell2">Example</div>
                    <div class="item-text cell3 item-delete" ><i class="fas fa-trash"></i></div>
                    <div class="connection-point connection-point-item cell4"></div>
                </div></div>
                <div class="add-item-dialogue invisible">
                    <input class="add-item-input" type="text" placeholder="Enter item..." required="">
                    <div>      
                    <button name="add-item-btn" onclick="createItem(this)">Add Item</button>
                    <button onclick="hideItemDialogue(this)">X</button>
                    </div>
                </div>
                <div class="new-item noselect" >
                    <div class="add-item cell1">+</div>
                    <div class="item-text cell2">Add New Item</div>
                </div>
                <div class="connection-point connection-point-node"></div>
            </div><div class="node noselect"   style="transform: translate3d(980px, 95px, 0px);">
                <div class="connection-point connection-point-node"></div>
                <div class="title">
                    <h4 class="title-text cell1">Node Graph</h4>
                    <div class="cell2 node-delete" ><i class="fas fa-trash"></i></div>
                </div>
                <div class="item-list"><div class="item">
                    <div class="connection-point connection-point-item cell1"></div>
                    <div class="item-text cell2">Simple To Use</div>
                    <div class="item-text cell3 item-delete" ><i class="fas fa-trash"></i></div>
                    <div class="connection-point connection-point-item cell4"></div>
                </div><div class="item">
                    <div class="connection-point connection-point-item cell1"></div>
                    <div class="item-text cell2">Completely Free</div>
                    <div class="item-text cell3 item-delete" ><i class="fas fa-trash"></i></div>
                    <div class="connection-point connection-point-item cell4"></div>
                </div><div class="item">
                    <div class="connection-point connection-point-item cell1"></div>
                    <div class="item-text cell2">Free Form Editor</div>
                    <div class="item-text cell3 item-delete" ><i class="fas fa-trash"></i></div>
                    <div class="connection-point connection-point-item cell4"></div>
                </div></div>
                <div class="add-item-dialogue invisible">
                    <input class="add-item-input" type="text" placeholder="Enter item..." required="">
                    <div>      
                    <button name="add-item-btn" onclick="createItem(this)">Add Item</button>
                    <button onclick="hideItemDialogue(this)">X</button>
                    </div>
                </div>
                <div class="new-item noselect" >
                    <div class="add-item cell1">+</div>
                    <div class="item-text cell2">Add New Item</div>
                </div>
                <div class="connection-point connection-point-node"></div>
            </div><svg width="100%" height="100%" position="absolute" pointer-events="none" class="lines" style="position: absolute;"><line x1="1191.671875" y1="393.125" x2="1449.40625" y2="340.5" stroke="black" stroke-width="5"></line><line x1="1191.671875" y1="393.125" x2="1449.40625" y2="340.5" stroke="white" stroke-width="3"></line></svg><svg width="100%" height="100%" position="absolute" pointer-events="none" class="lines" style="position: absolute;"><line x1="292.671875" y1="296.125" x2="501.40625" y2="290.5" stroke="black" stroke-width="5"></line><line x1="292.671875" y1="296.125" x2="501.40625" y2="290.5" stroke="white" stroke-width="3"></line></svg><svg width="100%" height="100%" position="absolute" pointer-events="none" class="lines" style="position: absolute;"><line x1="501.40625" y1="512.21875" x2="446.40625" y2="619.5" stroke="black" stroke-width="5"></line><line x1="501.40625" y1="512.21875" x2="446.40625" y2="619.5" stroke="white" stroke-width="3"></line></svg><svg width="100%" height="100%" position="absolute" pointer-events="none" class="lines" style="position: absolute;"><line x1="292.671875" y1="216.125" x2="1100.40625" y2="108.5" stroke="black" stroke-width="5"></line><line x1="292.671875" y1="216.125" x2="1100.40625" y2="108.5" stroke="white" stroke-width="3"></line></svg><svg width="100%" height="100%" position="absolute" pointer-events="none" class="lines" style="position: absolute;"><line x1="592.671875" y1="415.125" x2="832.40625" y2="474.5" stroke="black" stroke-width="5"></line><line x1="592.671875" y1="415.125" x2="832.40625" y2="474.5" stroke="white" stroke-width="3"></line></svg>
    </div>div>



    <script src="js/main.js"></script>
  </body>
  <footer>
  </footer>
</html>