<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <meta charset="UTF-8">
    <title>Node Grapher</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel='icon' href='images/favicon.png' type='image/x-icon'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="navbar">
      <div id="site-name">Node Grapher</div>
      <a href="/" class="nav-button cell2">Home</a>
      <div class="nav-vertline cell3"></div>
      <a href="/about" class="nav-button cell4 nav-active">About</a>
      <div class="nav-vertline cell5"></div>
      <a href="/contact" class="nav-button cell6">Contact</a>
      <div id="hamburger" onclick="expand(this)"><i class="fas fa-bars"></i></div>
    </div>

    <div id="node-graph">
      <div class="node noselect" style="transform: translate3d(-26px, -16px, 0px);">
        <div class="connection-point connection-point-node"></div>
        <div class="title">
          <h4 class="title-text cell1">About</h4>
          <div class="cell2 node-delete"><i class="fas fa-trash"></i></div>
        </div>
        <div class="item-list">
      <div class="item">
        <div class="connection-point connection-point-item cell1"></div>
        <div class="item-text cell2">Node Graph Editor</div>
        <div class="item-text cell3 item-delete"><i class="fas fa-trash"></i></div>
        <div class="connection-point connection-point-item cell4"></div>
      </div>
    
      <div class="item">
        <div class="connection-point connection-point-item cell1"></div>
        <div class="item-text cell2">Example</div>
        <div class="item-text cell3 item-delete"><i class="fas fa-trash"></i></div>
        <div class="connection-point connection-point-item cell4"></div>
      </div>
    </div>
          <div class="add-item-dialogue invisible">
            <input class="add-item-input" type="text" placeholder="Enter item..." required="">
            <div>      
              <button name="add-item-btn" >Add Item</button>
              <button >X</button>
            </div>
          </div>
          <div class="new-item noselect" >
            <div class="add-item cell1">+</div>
            <div class="item-text cell2">Add New Item</div>
          </div>
          <div class="connection-point connection-point-node"></div>
    </div>
    
      <div class="node noselect" style="transform: translate3d(281px, 290px, 0px);">
        <div class="connection-point connection-point-node"></div>
        <div class="title">
          <h4 class="title-text cell1">Chores</h4>
          <div class="cell2 node-delete"><i class="fas fa-trash"></i></div>
        </div>
        <div class="item-list">  
      <div class="item">
        <div class="connection-point connection-point-item cell1"></div>
        <div class="item-text cell2">Laundry</div>
        <div class="item-text cell3 item-delete"><i class="fas fa-trash"></i></div>
        <div class="connection-point connection-point-item cell4"></div>
      </div>
    </div>
          <div class="add-item-dialogue invisible">
            <input class="add-item-input" type="text" placeholder="Enter item..." required="">
            <div>      
              <button name="add-item-btn" >Add Item</button>
              <button >X</button>
            </div>
          </div>
          <div class="new-item noselect" >
            <div class="add-item cell1">+</div>
            <div class="item-text cell2">Add New Item</div>
          </div>
          <div class="connection-point connection-point-node"></div>
    </div>
    
      <div class="node noselect" style="transform: translate3d(278px, 586px, 0px);">
        <div class="connection-point connection-point-node"></div>
        <div class="title">
          <h4 class="title-text cell1">Fun</h4>
          <div class="cell2 node-delete"><i class="fas fa-trash"></i></div>
        </div>
        <div class="item-list">  
      <div class="item">
        <div class="connection-point connection-point-item cell1"></div>
        <div class="item-text cell2">Play Video Games</div>
        <div class="item-text cell3 item-delete"><i class="fas fa-trash"></i></div>
        <div class="connection-point connection-point-item cell4"></div>
      </div>
    </div>
          <div class="add-item-dialogue invisible">
            <input class="add-item-input" type="text" placeholder="Enter item..." required="">
            <div>      
              <button name="add-item-btn" >Add Item</button>
              <button >X</button>
            </div>
          </div>
          <div class="new-item noselect" >
            <div class="add-item cell1">+</div>
            <div class="item-text cell2">Add New Item</div>
          </div>
          <div class="connection-point connection-point-node"></div>
    </div>
    
      <div class="node noselect" style="transform: translate3d(570px, 439px, 0px);">
        <div class="connection-point connection-point-node"></div>
        <div class="title">
          <h4 class="title-text cell1">Laundry</h4>
          <div class="cell2 node-delete"><i class="fas fa-trash"></i></div>
        </div>
        <div class="item-list">  
      <div class="item">
        <div class="connection-point connection-point-item cell1"></div>
        <div class="item-text cell2">Wash</div>
        <div class="item-text cell3 item-delete"><i class="fas fa-trash"></i></div>
        <div class="connection-point connection-point-item cell4"></div>
      </div>
    
      <div class="item">
        <div class="connection-point connection-point-item cell1"></div>
        <div class="item-text cell2">Dry</div>
        <div class="item-text cell3 item-delete"><i class="fas fa-trash"></i></div>
        <div class="connection-point connection-point-item cell4"></div>
      </div>
    
      <div class="item">
        <div class="connection-point connection-point-item cell1"></div>
        <div class="item-text cell2">Fold</div>
        <div class="item-text cell3 item-delete"><i class="fas fa-trash"></i></div>
        <div class="connection-point connection-point-item cell4"></div>
      </div>
    </div>
          <div class="add-item-dialogue invisible">
            <input class="add-item-input" type="text" placeholder="Enter item..." required="">
            <div>      
              <button name="add-item-btn" >Add Item</button>
              <button >X</button>
            </div>
          </div>
          <div class="new-item noselect" >
            <div class="add-item cell1">+</div>
            <div class="item-text cell2">Add New Item</div>
          </div>
          <div class="connection-point connection-point-node"></div>
    </div>
    
      <div class="node noselect" style="transform: translate3d(761px, -26px, 0px);">
        <div class="connection-point connection-point-node"></div>
        <div class="title">
          <h4 class="title-text cell1">Node Graph Editor</h4>
          <div class="cell2 node-delete"><i class="fas fa-trash"></i></div>
        </div>
        <div class="item-list">
      <div class="item">
        <div class="connection-point connection-point-item cell1"></div>
        <div class="item-text cell2">Simple To Use</div>
        <div class="item-text cell3 item-delete"><i class="fas fa-trash"></i></div>
        <div class="connection-point connection-point-item cell4"></div>
      </div>
    
      <div class="item">
        <div class="connection-point connection-point-item cell1"></div>
        <div class="item-text cell2">Completely Free</div>
        <div class="item-text cell3 item-delete"><i class="fas fa-trash"></i></div>
        <div class="connection-point connection-point-item cell4"></div>
      </div>
    
      <div class="item">
        <div class="connection-point connection-point-item cell1"></div>
        <div class="item-text cell2">Free Form Editor</div>
        <div class="item-text cell3 item-delete"><i class="fas fa-trash"></i></div>
        <div class="connection-point connection-point-item cell4"></div>
      </div>
    </div>
          <div class="add-item-dialogue invisible">
            <input class="add-item-input" type="text" placeholder="Enter item..." required="">
            <div>      
              <button name="add-item-btn" >Add Item</button>
              <button >X</button>
            </div>
          </div>
          <div class="new-item noselect" >
            <div class="add-item cell1">+</div>
            <div class="item-text cell2">Add New Item</div>
          </div>
          <div class="connection-point connection-point-node"></div>
    </div>
    
      <div class="node noselect" style="transform: translate3d(1304px, 315px, 0px);">
        <div class="connection-point connection-point-node"></div>
        <div class="title">
          <h4 class="title-text cell1">Free Form Editor</h4>
          <div class="cell2 node-delete"><i class="fas fa-trash"></i></div>
        </div>
        <div class="item-list">
      <div class="item">
        <div class="connection-point connection-point-item cell1"></div>
        <div class="item-text cell2">Draw Logical Connections</div>
        <div class="item-text cell3 item-delete"><i class="fas fa-trash"></i></div>
        <div class="connection-point connection-point-item cell4"></div>
      </div>
    
      <div class="item">
        <div class="connection-point connection-point-item cell1"></div>
        <div class="item-text cell2">Visualize Complex Data</div>
        <div class="item-text cell3 item-delete"><i class="fas fa-trash"></i></div>
        <div class="connection-point connection-point-item cell4"></div>
      </div>
    
      <div class="item">
        <div class="connection-point connection-point-item cell1"></div>
        <div class="item-text cell2">Useful for Programming, Productivity and Organization</div>
        <div class="item-text cell3 item-delete"><i class="fas fa-trash"></i></div>
        <div class="connection-point connection-point-item cell4"></div>
      </div>
    </div>
          <div class="add-item-dialogue invisible">
            <input class="add-item-input" type="text" placeholder="Enter item..." required="">
            <div>      
              <button name="add-item-btn" >Add Item</button>
              <button >X</button>
            </div>
          </div>
          <div class="new-item noselect" >
            <div class="add-item cell1">+</div>
            <div class="item-text cell2">Add New Item</div>
          </div>
          <div class="connection-point connection-point-node"></div>
    </div>
    <svg class="lines" width="100%" height="100%" position="absolute" pointer-events="none" style="position: absolute;"><line x1="592.671875" y1="526.125" x2="790.40625" y2="552.5" stroke="black" stroke-width="5"></line><line x1="592.671875" y1="526.125" x2="790.40625" y2="552.5" stroke="white" stroke-width="3"></line></svg><svg class="lines" width="100%" height="100%" position="absolute" pointer-events="none" style="position: absolute;"><line x1="501.40625" y1="621.21875" x2="498.40625" y2="699.5" stroke="black" stroke-width="5"></line><line x1="501.40625" y1="621.21875" x2="498.40625" y2="699.5" stroke="white" stroke-width="3"></line></svg><svg class="lines" width="100%" height="100%" position="absolute" pointer-events="none" style="position: absolute;"><line x1="285.671875" y1="300.125" x2="501.40625" y2="403.5" stroke="black" stroke-width="5"></line><line x1="285.671875" y1="300.125" x2="501.40625" y2="403.5" stroke="white" stroke-width="3"></line></svg><svg class="lines" width="100%" height="100%" position="absolute" pointer-events="none" style="position: absolute;"><line x1="285.671875" y1="220.125" x2="981.40625" y2="87.5" stroke="black" stroke-width="5"></line><line x1="285.671875" y1="220.125" x2="981.40625" y2="87.5" stroke="white" stroke-width="3"></line></svg><svg class="lines" width="100%" height="100%" position="absolute" pointer-events="none" style="position: absolute;"><line x1="1072.671875" y1="370.125" x2="1524.40625" y2="428.5" stroke="black" stroke-width="5"></line><line x1="1072.671875" y1="370.125" x2="1524.40625" y2="428.5" stroke="white" stroke-width="3"></line></svg></div>
    
    <script src="js/main.js"></script>
  </body>
  <footer>
  </footer>
</html>