<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <meta charset="UTF-8">
    <title>Node Grapher</title>
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <link rel='icon' href='public/images/favicon.png' type='image/x-icon'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="navbar">
      <div id="site-name">Node Grapher</div>
      <a href="/" class="nav-button cell2 nav-active">Home</a>
      <div class="nav-vertline cell3"></div>
      <a href="/about" class="nav-button cell4">About</a>
      <div class="nav-vertline cell5"></div>
      <a href="/contact" class="nav-button cell6">Contact</a>
      <div id="hamburger" onclick="expand(this)"><i class="fas fa-bars"></i></div>
      <div></div>
    </div>
    <button id="add-node" onclick="toggleNodeDialogue(this)"><i class="fas fa-plus"></i></button>

    <div class="add-node-dialogue invisible">
      <input id="new-node-name" class="add-node-input" type="text" placeholder="Enter node title..." required>
      <div>      
        <button name="add-node-btn" onclick="createNode(this)">Add Node</button>
        <button onclick="hideNodeDialogue(this)">X</button>
      </div>
    </div>

    <div id="node-graph"></div>

  <script src="public/js/main.js"></script>
  </body>
  <footer>
  </footer>
</html>
